chkCheckedDisabled                     BITMAP .\HzxY\chkCheckedDisabled.bmp
chkCheckedDown                         BITMAP .\HzxY\chkCheckedDown.bmp
chkCheckedNormal                       BITMAP .\HzxY\chkCheckedNormal.bmp
chkCheckedOver                         BITMAP .\HzxY\chkCheckedOver.bmp
chkMixedDisabled                       BITMAP .\HzxY\chkMixedDisabled.bmp
chkMixedDown                           BITMAP .\HzxY\chkMixedDown.bmp
chkMixedNormal                         BITMAP .\HzxY\chkMixedNormal.bmp
chkMixedOver                           BITMAP .\HzxY\chkMixedOver.bmp
chkUncheckedDisabled                   BITMAP .\HzxY\chkUncheckedDisabled.bmp
chkUncheckedDown                       BITMAP .\HzxY\chkUncheckedDown.bmp
chkUncheckedNormal                     BITMAP .\HzxY\chkUncheckedNormal.bmp
chkUncheckedOver                       BITMAP .\HzxY\chkUncheckedOver.bmp
prg10		                       BITMAP .\HzxY\prgDefaultH.bmp
prg11		                       BITMAP .\HzxY\prgDefaultV.bmp
prg20	                               BITMAP .\HzxY\prgBlueH.bmp
prg21	                               BITMAP .\HzxY\prgBlueV.bmp
prg30                                  BITMAP .\HzxY\prgBluemetH.bmp
prg31                                  BITMAP .\HzxY\prgBluemetV.bmp
prg40                                  BITMAP .\HzxY\prgGoldmetH.bmp
prg41                                  BITMAP .\HzxY\prgGoldmetV.bmp
prg50                                  BITMAP .\HzxY\prgGreenmetH.bmp
prg51                                  BITMAP .\HzxY\prgGreenmetV.bmp
prg60                                  BITMAP .\HzxY\prgGreymetH.bmp
prg61                                  BITMAP .\HzxY\prgGreymetV.bmp
prg70                                  BITMAP .\HzxY\prgOrangemetH.bmp
prg71                                  BITMAP .\HzxY\prgOrangemetV.bmp
prg80                                  BITMAP .\HzxY\prgRedmetH.bmp
prg81                                  BITMAP .\HzxY\prgRedmetV.bmp
TopHelpDisabled0                       BITMAP .\HzxY\TopHelpDisabledBlue.bmp
TopHelpDown0                           BITMAP .\HzxY\TopHelpDownBlue.bmp
TopHelpNormal0                         BITMAP .\HzxY\TopHelpNormalBlue.bmp
TopHelpOver0                           BITMAP .\HzxY\TopHelpOverBlue.bmp
TopMaxDisabled0                        BITMAP .\HzxY\TopMaxDisabledBlue.bmp
TopMaxDown0                            BITMAP .\HzxY\TopMaxDownBlue.bmp
TopMaxNormal0                          BITMAP .\HzxY\TopMaxNormalBlue.bmp
TopMaxOver0                            BITMAP .\HzxY\TopMaxOverBlue.bmp
TopMinDisabled0                        BITMAP .\HzxY\TopMinDisabledBlue.bmp
TopMinDown0                            BITMAP .\HzxY\TopMinDownBlue.bmp
TopMinNormal0                          BITMAP .\HzxY\TopMinNormalBlue.bmp
TopMinOver0                            BITMAP .\HzxY\TopMinOverBlue.bmp
TopQuitDisabled0                       BITMAP .\HzxY\TopQuitDisabledBlue.bmp
TopQuitDown0                           BITMAP .\HzxY\TopQuitDownBlue.bmp
TopQuitNormal0                         BITMAP .\HzxY\TopQuitNormalBlue.bmp
TopQuitOver0                           BITMAP .\HzxY\TopQuitOverBlue.bmp
TopRestoreDisabled0                    BITMAP .\HzxY\TopRestoreDisabledBlue.bmp
TopRestoreDown0                        BITMAP .\HzxY\TopRestoreDownBlue.bmp
TopRestoreNormal0                      BITMAP .\HzxY\TopRestoreNormalBlue.bmp
TopRestoreOver0                        BITMAP .\HzxY\TopRestoreOverBlue.bmp
TopHelpDisabled1                       BITMAP .\HzxY\TopHelpDisabledGreen.bmp
TopHelpDown1                           BITMAP .\HzxY\TopHelpDownGreen.bmp
TopHelpNormal1                         BITMAP .\HzxY\TopHelpNormalGreen.bmp
TopHelpOver1                           BITMAP .\HzxY\TopHelpOverGreen.bmp
TopMaxDisabled1                        BITMAP .\HzxY\TopMaxDisabledGreen.bmp
TopMaxDown1                            BITMAP .\HzxY\TopMaxDownGreen.bmp
TopMaxNormal1                          BITMAP .\HzxY\TopMaxNormalGreen.bmp
TopMaxOver1                            BITMAP .\HzxY\TopMaxOverGreen.bmp
TopMinDisabled1                        BITMAP .\HzxY\TopMinDisabledGreen.bmp
TopMinDown1                            BITMAP .\HzxY\TopMinDownGreen.bmp
TopMinNormal1                          BITMAP .\HzxY\TopMinNormalGreen.bmp
TopMinOver1                            BITMAP .\HzxY\TopMinOverGreen.bmp
TopQuitDisabled1                       BITMAP .\HzxY\TopQuitDisabledGreen.bmp
TopQuitDown1                           BITMAP .\HzxY\TopQuitDownGreen.bmp
TopQuitNormal1                         BITMAP .\HzxY\TopQuitNormalGreen.bmp
TopQuitOver1                           BITMAP .\HzxY\TopQuitOverGreen.bmp
TopRestoreDisabled1                    BITMAP .\HzxY\TopRestoreDisabledGreen.bmp
TopRestoreDown1                        BITMAP .\HzxY\TopRestoreDownGreen.bmp
TopRestoreNormal1                      BITMAP .\HzxY\TopRestoreNormalGreen.bmp
TopRestoreOver1                        BITMAP .\HzxY\TopRestoreOverGreen.bmp
TopHelpDisabled2                       BITMAP .\HzxY\TopHelpDisabledSilver.bmp
TopHelpDown2                           BITMAP .\HzxY\TopHelpDownSilver.bmp
TopHelpNormal2                         BITMAP .\HzxY\TopHelpNormalSilver.bmp
TopHelpOver2                           BITMAP .\HzxY\TopHelpOverSilver.bmp
TopMaxDisabled2                        BITMAP .\HzxY\TopMaxDisabledSilver.bmp
TopMaxDown2                            BITMAP .\HzxY\TopMaxDownSilver.bmp
TopMaxNormal2                          BITMAP .\HzxY\TopMaxNormalSilver.bmp
TopMaxOver2                            BITMAP .\HzxY\TopMaxOverSilver.bmp
TopMinDisabled2                        BITMAP .\HzxY\TopMinDisabledSilver.bmp
TopMinDown2                            BITMAP .\HzxY\TopMinDownSilver.bmp
TopMinNormal2                          BITMAP .\HzxY\TopMinNormalSilver.bmp
TopMinOver2                            BITMAP .\HzxY\TopMinOverSilver.bmp
TopQuitDisabled2                       BITMAP .\HzxY\TopQuitDisabledSilver.bmp
TopQuitDown2                           BITMAP .\HzxY\TopQuitDownSilver.bmp
TopQuitNormal2                         BITMAP .\HzxY\TopQuitNormalSilver.bmp
TopQuitOver2                           BITMAP .\HzxY\TopQuitOverSilver.bmp
TopRestoreDisabled2                    BITMAP .\HzxY\TopRestoreDisabledSilver.bmp
TopRestoreDown2                        BITMAP .\HzxY\TopRestoreDownSilver.bmp
TopRestoreNormal2                      BITMAP .\HzxY\TopRestoreNormalSilver.bmp
TopRestoreOver2                        BITMAP .\HzxY\TopRestoreOverSilver.bmp
optFalseDisabled                       ICON .\HzxY\optFalseDisabled.ico
optFalseDown                           ICON .\HzxY\optFalseDown.ico
optFalseNormal                         ICON .\HzxY\optFalseNormal.ico
optFalseOver                           ICON .\HzxY\optFalseOver.ico
optTrueDisabled                        ICON .\HzxY\optTrueDisabled.ico
optTrueDown                            ICON .\HzxY\optTrueDown.ico
optTrueNormal                          ICON .\HzxY\optTrueNormal.ico
optTrueOver                            ICON .\HzxY\optTrueOver.ico
Click                                  SOUND .\HzxY\click.wav
Over                                   SOUND .\HzxY\over.wav